html{
    scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}

.home{
    /* background-color: black; */
    margin-top: -105px;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/source/8cfdf879936425.5cd284d4e4dd3.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 125vh;   
    box-sizing: border-box; 
    background-color: black;
}
#about{
    margin-top: -16px;
    border-top: 1px solid #ccc;
    padding: 0;
    background-color: rgb(57, 57, 57);
    background-size: cover;
    width: 100%;
    min-height: 89vh;   
    box-sizing: border-box; 
    z-index: 1;
    display:flex;
    /* background-image: url('https://thumbs.dreamstime.com/b/black-cassette-tape-appears-to-float-against-starry-black-background-black-cassette-tape-appears-to-float-against-starry-368718932.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}
#about h1{
    color:aliceblue;
    text-align: center;
    margin-top: 20px;
}
.container{
  display: flex;
  flex-direction: column;
  unicode-bidi: isolate;
  display:flex;
  width:50%;
  height:500px;
  justify-content: space-around;
}
.me{
  /* display:flex;
  justify-content: center;
  align-items: center;
  column-count: 2;
  column-gap: 60px;
  column-fill: balance;
  column-width: 50pxpx; */

    display: block;
    float:none;
    /* margin-left: 50px; */
    width: 98%;
    height: 40%; 
    /* border-radius: 20%;
    border: solid 1px #f8f6f6;*/
     
     
}

.im{
  display: block;
  margin-left:20px;
  justify-content: center;
  /* align-items: center;*/ 
  width: 98%;
  height: 100%;
}
.ive{
  display: flex;
  margin:5;
  padding:0;
  /* margin-left:40px; */
  justify-content:flex-end;
  align-items: center;
  width: 98%;
  height: 60%;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/14/Compact-cassette-playing-in-revox-tight_crop.gif');
  background-repeat: no-repeat;
  background-size: cover; 
}
.ive2{
  display: flex;
  /* margin-left:40px; */
  float: none;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 55%;
  background-image: url('https://i.makeagif.com/media/1-10-2016/AN92Dv.gif');
  background-repeat: no-repeat;
  background-size: cover; 
}
.more{
  display: block;
  justify-content: center;
  /* align-items: right;  */
  width: 98%;
  height: 45%;
} 
.more p{
  display: flex;
  margin-top: auto;
  width: 98%;
  height: 45%;
}
.more h1{
  display: block;
  width: 98%;
  height: fit-content;
}
.skills{
  display: flex;
  width: 98%;
  height: fit-content;
}
.skills li{
  display: block;
  width: 98%;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
  color: aliceblue;
}
#portfolio{
    color:aliceblue;
    text-align: center;
    margin-top: -16px;
    border-top: 1px solid #ccc;
    padding: 0;
    background-color: rgb(4, 3, 18);
    background-size: cover;
    width: 100%;
    min-height: 100vh;   
    box-sizing: border-box; 
}
.portfolio-content{
    justify-content: center;
    display: flex;
    border-radius: 15%;
    border: solid 1px #ccc;
    width: 300px;
    margin: auto;
}
.portfolio-content:hover{
    background-color: #000099;
}
.name{
  border-bottom: 1px solid #ccc;
  margin: 360px;
  padding: 0;
  /* background-color: transparent; */
}
#name{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    color: aliceblue;
    
}
ul {
  position: sticky;
  display: flex;
  z-index: 10;
  top: 0;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.po:hover{
  color:transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url('https://img.freepik.com/premium-photo/oldschool-walkman-with-headphones-black-white-dark-background_124507-41998.jpg');
}
.at:hover{
  color:transparent;
 background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/14/Compact-cassette-playing-in-revox-tight_crop.gif');

}
.he:hover{
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/source/8cfdf879936425.5cd284d4e4dd3.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
  .record{
    display:block;
    margin:auto
    
}
p{
    text-align: center;
    color:aliceblue;
}
.my-image {
    display: block;
    margin: auto;
    width: 300px;
    height: 500px;
    border-radius: 10%;
}

/* h3{
    /* margin:auto; 
    color:aquamarine;
    display:inline;
}

h3:hover{
    color:#000099;
} */