html{
    scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}

.home{
    /* background-color: black; */
    margin-top: -105px;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/source/8cfdf879936425.5cd284d4e4dd3.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 125vh;   
    box-sizing: border-box; 
    background-color: black;
}
#about{
    margin-top: -16px;
    border-top: 1px solid #ccc;
    padding: 0;
    background-color: rgb(57, 57, 57);
    background-size: cover;
    width: 100%;
    min-height: 80vh;   
    box-sizing: border-box; 
    z-index: 1;
}
#about h1{
    color:aliceblue;
    text-align: center;
    margin-top: 50px;
}
#portfolio{
    color:aliceblue;
    text-align: center;
    margin-top: -16px;
    border-top: 1px solid #ccc;
    padding: 0;
    background-color: rgb(4, 3, 18);
    background-size: cover;
    width: 100%;
    min-height: 25vh;   
    box-sizing: border-box; 
}
.portfolio-content{
    justify-content: center;
    display: flex;
    border-radius: 35%;
    border: solid 1px #ccc;
    width: 300px;
    margin: 50px 490px;
}
.portfolio-content:hover{
    background-color: #000099;
}
.name{
  border-bottom: 1px solid #ccc;
  margin: 360px;
  padding: 0;
  /* background-color: transparent; */
}
#name{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    color: aliceblue;
    
}
ul {
  position: sticky;
  z-index: 10;
  top: 0;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
.record{
    display:block;
    margin:auto
    
}
p{
    text-align: center;
    color:aliceblue;
}

/* h3{
    /* margin:auto; 
    color:aquamarine;
    display:inline;
}

h3:hover{
    color:#000099;
} */