html{
    scroll-behavior: smooth;
}
body{
margin: 0;
padding: 0;
}


ul {
  position: fixed;
  top: 10px;   
  left: 10px;
  z-index: 1000;
  border-radius: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7a7777;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
body{
    background-color: rgb(215, 211, 211);
    text-align: center;
    background-image: url("");
}
.scrollWheel {
  margin: -50px 0px 50px 0px;
  height: 250px;
  width: 250px;
  background-color: #fafafa;
  border-radius: 50%;
  display: inline-block;
}
h3{
    color:silver;
}
h3:hover{
    color:#000099;
}
.menu{
    text-align: center;
    margin-bottom: 0px;
    cursor: pointer;
}
.enter{
    cursor: pointer;
    margin: 60px 0px 50px 0px;
}
.left{
    text-align: left;
    margin: 75px 20px 0px 10px;
    cursor: pointer;
}
.right{
    text-align: right;
    margin: -20px 10px 0px 0px;
    cursor: pointer;
}
h1{
    color:#ccc;
}

.ipod{
    margin:auto;
    background-color:silver;
    width:45%;
    border-radius: 18px;
    padding: 10px 10px 10px 10px;
    box-shadow: inset 2px -28px 80px -33px rgba(0, 0, 0, 0.74);
}

#utilities{
    display:flex;
    width:100%;
    background-color: rgb(247, 241, 235);
    border-radius: 5px; 
    /* margin-top:-16px; */
    /* text-align: left; */

}
#txt{
    width:fit-content;
    background-color: rgb(247, 241, 235);
    border-radius: 5px; 
    /* margin-top:-16px; */
    margin-left: 10px;

}

#percent{
    width:fit-content;
    background-color: rgb(247, 241, 235);
    border-radius: 5px; 
    margin-left: 290px;
    
}

.screen{
    margin:auto;
    margin-top: 15px;
    margin-bottom: 20%;
    border: solid 3px rgb(53, 52, 52);
    background-color:rgba(68, 62, 130, 0.895);
    background: linear-gradient(to bottom, #33ccff 0%, #000099 100%);
    /* padding: 10px; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width:70%;
    height: 200px;
    border-width: 5px;
}
.display{
    
    margin:75px 0px 75px 0px;
}

.display-IMG{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 40px 10px 20px 30px;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 150px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 10px;
}
.imgs {
    display: flex;
    
}

.display-IMG:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.change{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.game{
    display:none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.resume{
    display:none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#contact{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(135, 125, 250);
    color:aliceblue;
    border-radius: 10px;
}

#footer{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 100%;
    height: 100%;
    background-color: grey;
    color: white;
    border-radius: 10px;
}
#footer-content{
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
#footer-content p{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

#linkIN{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:50px;
    height:50px;
    border-radius: 100px;
}
#github{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:50px;
    height:50px;
    border-radius: 100px;
}

#links4{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:150px;
    height:50px;
    border-radius: 100px;
}